.navbar-nav .nav-item .nav-link, #logo img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}
.navbar-nav .nav-item .nav-link{
    color: #000; margin-right:6px;
}
.navbar-nav > .nav-item:hover > .nav-link{
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border-radius: 10px;
    
    /* background-color: #aed6b5 !important; */
}

#logo img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


#logo img{
    float: left;
    width: auto;
    height: 60px;
    /* padding-left:10px ; */
    /* padding-right:5px; */
}
#logo{
    display: block;
}
@media (max-width: 576px) {
    #logo {
        display: none !important; /* Ocultar el logo */
    }
}


